---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="N. Winceslas ADJIHANOU" description=" Back- End Dveloper">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Discover my background and skills."
			>
				<img
					width="1553"
					height="873"
					src="/assets/WINCE2.png"
					alt="N. Winceslas ADJIHANOU and work"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I have a degree in Computer Engineering, and a webmaster with 2 years of experience. My main skills are the creation of websites and web applications, using web development technologies requiring programming.
						I have complete mastery of HTML5, CSS, PHP, Javascript and I am also very comfortable with Symfony and Bootstrap frameworks.
						I much more like adapting to new environments and learning new things and new technologies. Open by nature, I attach great importance to communication and knowledge sharing.
 						I listen and attach great importance to customer satisfaction. My pleasure is to have customers satisfied with my services, do not hesitate to contact me I respond within the hour.
					</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Diplomas</h2>
				<div class="content">
					<p>License in Computer Systems and Software (TIC), BAC series D, short modern BEPC (MC).</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Qualities</h2>
				<div class="content">
					<p>Curious, Organized, Dynamic, Teamwork, Travel, Athlete, Musician</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
