---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="N. Winceslas ADJIHANOU" description=" Back- End Dveloper">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Discover my background and skills."
			>
				<img
					width="1553"
					height="873"
					src="/assets/WI-removebg-preview(1).png"
					alt="N. Winceslas ADJIHANOU and work"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I have a degree in Computer Engineering, and a webmaster with 2 years of experience. My main skills are the creation of websites and web applications, using web development technologies requiring programming.
						I have complete mastery of HTML5, CSS, PHP, Javascript and I am also very comfortable with Symfony and Bootstrap frameworks.
						I much more like adapting to new environments and learning new things and new technologies. Open by nature, I attach great importance to communication and knowledge sharing.
 						I listen and attach great importance to customer satisfaction. My pleasure is to have customers satisfied with my services, do not hesitate to contact me I respond within the hour.
					</p>
					
				</div>
			</section>
				
				<h2 class="section-title">Diplomas</h2>
				<div class="content">
					<h3>PROFESSIONAL LICENSE IN INDUSTRIAL ENGINEERING, BAC SERIE D, BEPC MODERNE COURT (MC).</h3>
				</div>
			<section>
				<h1>Skills</h1>
				<div class="skills-rectangle">
					<h3><span class="text-center">Languages, Frameworks and Tools</h3>
				
					<ul class="skills-list">
					<li>
						<img src="/assets/HTML.png" alt="html5" width="200px" height="100px" />
						<span class="percentage">     90%</span>
					</li>

					<li class="centered-li">
						<img src="/assets/css3.png" alt="css" width="70px" height="100px" />
						<span class="percentage">    90%</span>
					</li>

					<li>
						<img src="/assets/php.png" alt="php" width="200px" height="300px" />
						<span class="percentage">   80%</span>
					</li>

					<li>
						<img src="/assets/JS.png" alt="css" width="110px" height="80px" />
						<span class="percentage">   70%</span>
					</li>

					<li>
						<img src="/assets/SQL.png" alt="sqlL" width="250px" height="250px"/>
						<span class="percentage">   80%</span>
					</li>

					<li>
						<img src="/assets/BOOTST.jpg" alt="symfony" />
						<span class="percentage">   80%</span>
					</li>

					<li>
						<img src="/assets/SYMFONY.png" alt="symfony" />
						<span class="percentage">   80%</span>
					</li>

					<li>
						<img src="/assets/GITH.png" alt="mysql" width="500px" height="200px"/>
						<span class="percentage">   90%</span>
					</li>

					<li>
						<img src="/assets/MYSQL.png" alt="mysql" width="80px" height="50px"/>
						<span class="percentage">   90%</span>
					</li>

					</ul>
				</div>
				
				</section>
			
			</section>

			<section>
				<h2 class="section-title">Professional Experiences</h2>
				<div class="content">
				<h5>20/11/2023 - Today: Professional internship in web programming in the Cosit-benin company :</h5> 
					
					
						<h6>With the Symfony developer team, I worked on the following platforms in the respective details:</h6>
						<p>-  PAVICC(Programme d'Adaptation des Villes au Changement Climatique) : I worked specifically in the Monitoring and Evaluations module. I had to manage the implementation of a system for assigning roles according to each user created in the Monitoring Evaluation module. Implementation then, management of the Presentation Canvas and Indicator Report in the Status and Report sub-module. Update, the display of the tables then, the appearance of the PET, TEF PET Efficiency, TEF Efficiency and Overall Efficiency graphs at the dashboard level, TEP Evolution then TEF Evolution. Correction of errors in the Analytical Plan, PTA, PTA Monitoring and Indicators sub-modules. Style management in the Configuration, Directions and Services module. Click on this button to access: <a href="https://comptapavicc.cosit-care.com/security/fr/login">PAVICC</a></p>
						<p>-  UNSTIM(Université Nationale des Sciences,Technologies,Ingénierie et Mathématiques) : I worked on API documentation and setting up routes and setting up the display of activities on the dashboard according to each connected user. Click on this button to access: <a href="http://sig.unstim.bj/login">UNSTIM</a></p>
						<p>- INRAB(Institut National des Recherches Agricoles du Bénin (Bénin)) : managing roles and displaying activities on the dashboard; reorder tasks based on sequence numbers and prevent repetition of the sequence number for different tasks; The establishment of a search bar at the level of the list of Financial Executions, Base Calculation Line and tasks; Financial monitoring: setting up a control allowing the user not to exceed the cost of financing sources by adding amounts at the level of financial executions and other tasks. Click on this button to access: <a href="https://sise.inrab.bj/login">INRAB</a>
						<p style="margin-bottom: 1em;">- PREMOPEF(PROJET DE RENFORCEMENT DES MOYENS DE SUBSISTANCE DES PETITS EXPLOITANTS ET DES FEMMES DANS LA REGION DU N’ZI) : Review the management of the button for deleting financial executions and tasks, registering the activity and making it clickable at the task level. Click on this button to access: <a href="http://sise.premopef.ci/login">PREMOPEF</a></p>
					
					
					
					<h5>01/06/2023 - 31/09/2023: Academic internship in web programming in the Cosit-benin company:</h5> 
						<p style="margin-bottom: 1em;"> The addition of new functionality (implementation of a module to manage the careers of employees) on the existing ecopro platform then; the insertion of ‘activities and tasks’ data on the ‘sig.cosit-care’ platform. </p>
					
					<h5>04/09/2022 – 30/04/2023 : Academic internship in web programming in the Cosit-benin company: :</h5> 
						<p style="margin-bottom: 1em;">I had the chance to work in a team on the 'ecopro' platform then on the 'La Poste' platform database. There is also the insertion of data on the following platforms: INRAB, UNSTIM, ABSSA, LA POSTE, PRESREDI, COSIT, SBEE LPEDER, PIERRES ORNAMENTALES, PAVICC, ANEPIJ, ONAB and FNDA.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">My training</h2>
				<div class="content">
				<h5>From October 2022 to June 2023 IRGIB-AFRICA Cotonou Akpakpa</h5> 
					
					
				<h6>Professional engineering degree in Information and Communication Technology (ICT).

					<p style="margin-bottom: 1em;">I've done "hands-on" web design and development, IT security, network administration, MySQL and Merise.</h6></p>
					
				<h5>From October 2020 to July 2021: 2nd year in Information and Communication Technology (ICT) at IRGIB-AFRICA, Cotonou Akpakpa</h5> 
					<p style="margin-bottom: 1em;">I learned programming languages ​​such as PHP, JavaScript, SQL, C++ and the Symfony and Bootstrap frameworks.</h6></p>
					
					<h5>From October 2020 to July 2021: 1st year in Computer Systems and Software (SIL) at ESEP-LE BERGER, Cotonou Akpakpa</h5>
					<p style="margin-bottom: 1em;">I learned programming languages ​​such as Algorithm, C, HTML, CSS.</h6></p>
					
				<h5>From October 2019 to July 2020 CEG SEKANDJI Sèmè-Podji</h5>
					<p style="margin-bottom: 1em;">Baccalaureate series D (BAC D)</h6></p>

				<h5>From October 2013 to August 2014 CEG GBADA Adjohoun, Benin</h5>
					<p style="margin-bottom: 1em;">Certificate of First Cycle Studies ‘BEPC’</h6></p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Qualities</h2>
				<div class="content">
					<p h5 style="margin-bottom: 1em;">Curious, Organized, Dynamic, Teamwork, Travel, Athlete, Musician</p>
				</div>
			</section>

			



<section class="download-cv-section">
  <a href="/assets/CV_2023-07-25_Winceslas_ADJIHANOU.pdf" class="download-cv-button" download>Télécharger mon CV</a>
</section>		

		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
	.skills-rectangle {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skills-rectangle h3 {
  font-size: var(--text-lg);
  margin-bottom: 0.5rem;
}

.skills-rectangle ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills-rectangle li {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #ddd;
  margin-right: 0.5rem;
}


	.skills-list {
  display: flex;
  flex-wrap: wrap;
}

.skills-list li {
  width: 25%;
  margin-bottom: 1rem;
}

.percentage.yellow {
  background-color: #ffeb3b;
}

.percentage.green {
  background-color: #4caf50;
}

.percentage.red {
  background-color: #f44336;
}
.skills-rectangle {
  position: relative;
}

.download-cv-button {
  background: var(--gradient-accent-orange);
  color: #fff;
  border: 2px solid #005999;
  border-radius: 22px;
  font-size: 20px;
  padding: 10px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}




centered-li {
  text-align: center;
}
.skills-rectangle {
  display: flex;
  justify-content: center;
}
.skills-list {
  margin: 0 auto;
}
.skills-rectangle h3 {
  margin-top: 10px;
}

h5, h6, p {
  text-align: justify;
}


</style>
